@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

input {
  padding: 0;
  margin-left: 8px;
  outline: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}

body {
  background-color: rgba(246, 248, 254, 0.432);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

body.night {
  background: rgb(19, 17, 17);
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.new-task input[type="text"] {
  width: 200px;
  height: 30px;
  padding-left: 10px;
  background-color: white;
  border: 2px solid rgba(247, 220, 220, 0.9);
  border-radius: 10px;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 15px 0 15px;
}

header {
  position: relative;
}

h2 {
  margin-top: 20px;
  align-self: center;
}

ul {
  list-style: none;
}

li {
  display: flex;
  margin-top: 10px;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 9px;
}

li:hover {
  border-color: rgb(105, 105, 105);
  transition: 0.3s;
}

li label {
  margin-left: 8px;
  text-align: start;
  min-width: 128px;
  max-width: 128px;
  overflow-wrap: break-word;
}

.buttons {
  font-size: 0;
  display: flex;
}

button {
  text-decoration: none;
  background: transparent;
  margin-left: 10px;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 0 0;
}

.new-task {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
}

.add {
  margin-left: 15px;
}

.delete {
  margin-left: 15px;
}

.uncompleted-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uncompleted-task_list input[type="text"],
.completed-task_list input[type="text"] {
  width: 128px;
  opacity: 0.5;
}

.completed-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

input[type="checkbox"] {
  cursor: pointer;
}

.delete img,
.edit img {
  pointer-events: none;
}

img.invert {
  filter: invert(100%);
}

ul li input[type="text"] {
  display: none;
}

ul li.editMode input[type="text"] {
  display: inline;
}

ul li.editMode label {
  display: none;
}

.date {
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  white-space: pre-line;
}

.empty-list {
  font-size: 18px;
  width: 255px;
  height: 50px;
  margin-top: 10px;
  padding-top: 11px;
  border: 1px solid #faff9a;
  border-radius: 8px;
  background: white;
  text-align: center;
}

.empty-list.hidden {
  display: none;
}

.dark-btn {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 600;
  width: 50px;
  height: 50px;
  background-color: aliceblue;
  border: 2px solid rgb(237, 237, 238);
  border-radius: 6px;
  right: -77px;
  top: -6px;
}
